.top-section {
  display:  flex;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: 1.5rem 2rem;;
}

.error {
  font-size: 2rem;
  text-align: center;
  padding: 5rem;
}

.hourly-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  background: $cloudy-white;
  border-radius: 1rem;
  border: 0.1rem solid darken($superlight-grey, 2%);
}

.hourly-container div {
  border-right: 0.1rem solid darken($superlight-grey, 2%)
}

.hourly-container:last-child {
  border-right: 0 !important;
}